*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #F9F9F9;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

._container {
  max-width: 1116px;
  margin: 0 auto;
}

.header {
  margin-top: 79px;
}

.header__list {
  font-size: 0;
}
.header__list .header__item {
  color: #34547A;
  display: inline-block;
  position: relative;
}
.header__list .header__item:not(:first-child) {
  margin-left: 42px;
}
.header__list .header__item::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__list .header__item:hover::before {
  width: 100%;
  background-color: red;
  transition: width 0.3s ease-in-out, background-color 0.2s ease-in-out;
}
.header__list .header__item .header__link {
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.writeMe {
  margin-top: 162px;
}
.writeMe .writeMe__container > *:not(:first-child) {
  margin-top: 60px;
}
.writeMe .writeMe__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 164.5833333333%;
}
.writeMe .writeMe__title:hover {
  animation: rotation 2s;
  transform-origin: top left;
}
@keyframes rotation {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(7deg);
  }
}
.writeMe .writeMe__text {
  font-size: 16px;
  line-height: 162.5%;
  color: #727272;
  max-width: 540px;
}
.writeMe .writeMe__button {
  width: 225px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34547A;
  color: #fff;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.writeMe .writeMe__button:hover {
  animation: btnColor 4s infinite;
}
@keyframes btnColor {
  20% {
    transform: translate(150%);
  }
  50% {
    background-color: yellow;
    color: black;
  }
  75% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(0);
  }
}

.about {
  margin-top: 253px;
}
.about .about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about__container > *:not(:first-child) {
  margin-top: 50px;
}
.about .about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 118.75%;
}
.about .about__text {
  font-size: 16px;
  line-height: 162.5%;
  color: #727272;
  text-align: center;
  max-width: 540px;
}

.slider {
  background-color: #34547A;
  margin-top: 100px;
}
.slider .slider__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slider .slider__list > *:not(:first-child) {
  margin-left: 45px;
}
.slider .slider__item {
  display: grid;
  padding: 100px 0px;
  gap: 0px 20px;
  grid-template-columns: 50px 71px;
  grid-template-rows: 25px 25px;
  color: #fff;
}
.slider .slider__item .slider__image {
  grid-column: 1;
  grid-row: 1/3;
}
.slider .slider__item .slider__title {
  grid-column: 2;
  grid-row: 1;
  font-weight: 500;
  font-size: 21px;
  line-height: 119.0476190476%;
}
.slider .slider__item .slider__text {
  grid-column: 2;
  grid-row: 2;
  font-size: 16px;
  line-height: 162.5%;
}

.description {
  margin-top: 100px;
}
.description .description__container > *:not(:first-child) {
  margin-top: 50px;
}
.description .description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description .description__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 118.75%;
}
.description .description__text {
  max-width: 540px;
  text-align: center;
  font-size: 16px;
  line-height: 162.5%;
  color: #727272;
}
.description .description__video {
  width: 1110px;
  height: 600px;
  position: relative;
}
.description .description__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.description .description__video .description__button {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.description .description__video .description__button::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 50px solid transparent;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
}

.footer {
  background-color: #34547A;
  margin-top: 100px;
}
.footer .footer__container {
  padding: 50px 0;
}
.footer .footer__container > *:not(:first-child) {
  margin-top: 20px;
}
.footer .footer__title {
  color: #fff;
  font-weight: 500;
  font-size: 21px;
  line-height: 119.0476190476%;
}
.footer .footer__text {
  font-size: 13px;
  line-height: 161.5384615385%;
  color: #fff;
}